@{
    Layout = "_admin";
}
@model IEnumerable<Account>




    <div class="container-fluid">
        <h1 class="mt-4">Danh sách người dùng</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active">Danh sách người dùng</li>
        </ol>
        <div class="card mb-12">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <a class="btn btn-success" asp-action="Create" asp-controller="Accounts">Tạo mới</a>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <form asp-action="Find" asp-controller="Accounts" method="get">
                            <div class="row">
                                <div class="col-md-9">
                                    <input type="text" name="keyword" class="form-control" />
                                </div>
                                <div class="cold-md-3">
                                    <button type="submit" class="btn btn-primary" >Tìm</button>
                                    <button type="button" asp-action="Index" asp-controller="Accounts" class="btn btn-dark">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                    </div>
                }
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Username
                            </th>
                           
                            <th>
                                Email
                            </th>
                            <th>
                                Số điện thoại
                            </th>
                            <th>
                                Địa chỉ
                            </th>
                            <th>
                                Họ và tên
                            </th>
                            <th>
                                Admin
                            </th>
                            <th>
                                Avatar
                            </th>
                             <th>
                                Function
                            </th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>
                               
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsAdmin)
                                </td>   
                                <td>
                                   <img src="~/images/avatar/@item.Avatar" style="width:100px; " />
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-danger">Edit</a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-warning">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}